version=0.27.0
margin=80
wrap-comments=true

break-separators=after
break-collection-expressions=fit-or-vertical
break-infix=fit-or-vertical

break-cases=fit-or-vertical
cases-exp-indent=2
cases-matching-exp-indent=normal

match-indent=0
sequence-style=terminator
type-decl=compact
field-space=loose

doc-comments-tag-only=default
indicate-multiline-delimiters=no
ocp-indent-compat=true

nested-match=wrap
exp-grouping=preserve